---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import webhooks from '../../webhooks.json';

interface Webhook {
  id: number;
  brand: string;
	name: string;
}

interface Webhooks {
  [key: string]: Webhook[];
}

const typedWebhooks: Webhooks = webhooks as Webhooks;


const hooks = await Promise.all(Object.keys(webhooks).map(key => {
	const key_store = `PUBLIC_STORE_${key}`
	const env_store = import.meta.env[key_store]

	return Promise.all(typedWebhooks[key].map(async e => {
		const key_token = `PUBLIC_${key}_${e.brand}`
		const env_token = import.meta.env[key_token]
		const url = `https://api.bigcommerce.com/stores/${env_store}/v3/hooks/${e.id}`
		const response = await fetch(url, {
			method: 'GET',
			headers:{
				'X-Auth-Token': env_token
			}
		})

		const { data } = await response.json()
		return { url, brand: e.brand, token: env_token, name: e.name, status: data.is_active}
	}))
}))

const [cl,pe,co] = hooks
---

<Layout title="Webhooks Bigcommerce" client:load>
	<main>
		<section class="p-4 place-content-center">
			<h1 class="text-3xl p-4 font-extrabold text-slate-900">Webhooks Chile</h1>
			<ul role="list" class="grid grid-cols-1 md:grid-cols-4 gap-5" >
				{
					cl.map(e=>(
						<Card 
							title={e.name}
							brand={e.brand}
							url={e.url}
							token={e.token}
							status={e.status}
						/>
					))
				}
			</ul>
		</section>
		<section class="p-4 place-content-center">
			<h1 class="text-3xl p-4 font-extrabold text-slate-900">Webhooks Perú</h1>
			<ul role="list" class="grid grid-cols-1 md:grid-cols-4 gap-5" >
				{
					pe.map(e=>(
						<Card 
							title={e.name}
							brand={e.brand}
							url={e.url}
							token={e.token}
							status={e.status}
						/>
					))
				}
			</ul>
		</section>
		<section class="p-4 place-content-center">
			<h1 class="text-3xl p-4 font-extrabold text-slate-900">Webhooks Colombia</h1>
			<ul role="list" class="grid grid-cols-1 md:grid-cols-4 gap-5" >
				{
					co.map(e=>(
						<Card 
							title={e.name}
							brand={e.brand}
							url={e.url}
							token={e.token}
							status={e.status}
						/>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

